@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=IBM+Plex+Sans+KR&family=Noto+Sans+KR:wght@300;400;500&family=Poppins:wght@700&family=Roboto:wght@100;300;400;500;700&display=swap');
*{
  margin: 0 auto;
  font-family: 'Noto Sans KR', sans-serif;
}
body {
  color: #212529;
}
  a {
    color: #000000;
    text-decoration: none;
  }
  a:hover {
    color: #393cff;
    text-decoration: none;
  }
  h1, h2, h3, h4, h5, h6, .font-primary {
    font-family: 'Gowun Dodum', sans-serif !important;
  }
  /*-----------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #eb5d1e;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }
  .back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }
  .back-to-top:hover {
    background: #ee7843;
    color: #fff;
  }
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
 /*------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
/*---------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
  }
  .section-bg {
    background-color: #fef8f5;
  }
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  .section-title h2 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 0;
    line-height: 1px;
    margin-bottom: 15px;
    color: #c2b7b1;
  }
  .section-title p {
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #4e4039;
  }.section-title p::after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 2px;
    background: #eb5d1e;
    bottom: 0;
    left: calc(50% - 30px);
  }
/*----------------------*/
.breadcrumbs {
  padding: 15px 0;
  background-color: #fef5f1;
  min-height: 40px;
  margin: auto;
}
.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
}
.breadcrumbs ol {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  float: right;
}
.breadcrumbs ol li+li {
  padding-left: 10px;
}
.breadcrumbs ol li+li::before {
  display: inline;
  padding-right: 10px;
  color: #6c757d;
  /* content: "/"; */
}
@media (max-width: 1000px) {
  .breadcrumbs ol {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-top: 6px;
    font-size: 11px;
    float: right;}}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    /* display: block; */
  }
  .breadcrumbs ol li {      
    display: inline;
  }
}
/*---------------------*/
.portfolio-details {
    padding-top: 40px;
  }
  .portfolio-details .portfolio-details-slider img {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
  #main2 .portfolio-details .portfolio-details-slider img {
    width: 70%;
    margin: 0 auto;
  }
  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #eb5d1e;
  }
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #eb5d1e;
  }
  .portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(122, 105, 96, 0.08);
  }
  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  .portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
  }
  .portfolio-details .portfolio-description {
    padding-top: 30px;
  }
  .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .portfolio-info h2{
    text-align: center;
    margin: 30px 0;
  }
  .portfolio-info ul p{
    padding: 0;
    line-height: 30px;
    margin-bottom: 24px;
  }
  .fontsize{
    font-weight: 300;
  }
  .portfolio-info p{
    color: red;
  }